<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/register.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar justify-content-center">
      <a class="navbar-brand logo" href="#"><i class="fab fa-twitter"></i></a>
    </nav>

    <div class="container">
      <h3>Registro Nuevo Usuario</h3>
      <form action="/register" method="POST">
        <div class="mb-3">
          <label class="form-label">First Name:</label>
          <input type="text" name="firstName" class="form-control" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Last Name:</label>
          <input type="text" name="lastName" class="form-control" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Email:</label>
          <input type="text" name="email" class="form-control" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Username:</label>
          <input type="text" name="userName" class="form-control" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Password:</label>
          <input
            type="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <input type="submit" value="Log In" class="btn btn-login" />
        </div>
      </form>
    </div>
  </body>
</html>
